
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
img{
    width:5%;
    margin-left:70px;
}
body {
    background: rgb(0, 119, 187);
    background-image: url(./itl.cat_google-pixel-wallpaper_63820.png);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.contentContainer {
    background: rgb(157, 200, 237);
    width: 70%;
    padding: 20px;
    border: 3px solid rgb(63, 63, 63);
    margin: auto;
    border-radius: 20px;
}

.navbarStyle {
    background: #7169ff;
    height: 75px;
    margin-top: 1px;
    margin: 0;
    width:100%;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    justify-content: space-between;
   
}
.withinNavContainer{
    width: 75%;
  
}
.highlight {
    background: #9592d3;
    height: 3px;
}
.highlight2 {
    background: #5c55dd;
    height: 1px;
}
.highlight3 {
    background: #5c55dd;
    height: 1px;
}
.shadow{
    height: 3px;
    width: 100%;
    background: #1f1a7c;
}
.buttonStyle {
    font-family: "Roboto";
    font-size: 1.1rem;
    border: 3px solid black;
    background: #a39fe9;
    font-weight: bolder;
    width:13.5%;

}
.buttonStyle:hover{
    background-color: white;
}

.headerInfo {
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    font-size: 8vh;
    color: rgb(130, 130, 130);
    text-shadow: 1px 1px #a5a5a5;

}

.consoleCard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 21%;
    height: 20vh;
    position: relative;
    background: rgb(73, 167, 222);
    font-weight: bolder;
    font-size: 30px;
    border: 3px solid rgb(78, 177, 235);
    border-radius: 7px;

}


.consoleContainer {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    background: rgb(157, 200, 237);
    width: 70%;
    padding: 20px;
    border: 3px solid rgb(63, 63, 63);
    border-radius: 12px;

}

.listItem {
    width: 95%;
    background: rgb(73, 167, 222);
    padding: 10px;
    border: 2px solid rgb(78, 177, 235);
    border-radius: 5px;
}

.faqItem {
    width: 95%;
    background: rgb(73, 167, 222);
    padding: 10px;
    border: 2px solid rgb(78, 177, 235);
    border-radius: 5px;
}

.userCard {
    display: flex;
    align-items: left;
    justify-content: center;
    margin: 10px;
    border: 4px solid black;
    height: 500px;
    position: relative;
    background: #d7d7d7;
    font-weight: bolder;
    font-size: 30px;
    width: 60%;
    border-radius: 7px;
}


.columnContainer {
    background: rgb(157, 200, 237);
    width: 70%;
    padding: 20px;
    border: 3px solid rgb(63, 63, 63);
    margin: auto;
}

.columns {
    display: flex;
    flex-direction: row;
    column-count: 2;
}

.addButton {
    font-size: 3vh;
    border: 1px solid black;
    background: #a39fe9;
    font-weight: bolder;
    display: flex;
    justify-content: center;

}

.headerContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frontlistItem {
    width: 95%;
    background: rgb(73, 167, 222);
    padding: 14px;
    border: 2px solid rgb(78, 177, 235);
    border-radius: 5px;
}

.questionList {
    display:flex;
    flex-direction: column;
    margin: 10px;
}