{% load static %}
<link rel='stylesheet' href='../static/styles.css'>
<div class='navbarStyle'>
    <a href='/'><button class='buttonStyle'>Home</button></a>
    <a href='/allgames/'><button class='buttonStyle'>Games</button></a>
    <a href='/allconsoles/'><button class='buttonStyle'>Consoles</button></a>
    <a href='/allfaqs/'><button class='buttonStyle'>FAQs</button></a>
    <a href='/login/'><button class='buttonStyle'>Login</button></a>
    <div>
    </div>
</div>
<br>
<br>
<div class='headerInfo'>
    <p>All Consoles</p>
</div>
<div>
    <div class='consoleContainer'>
        {% for item in consoles %}
        <div class='consoleCard'>
            <a href='/platform/{{item.id}}'>{{item.consoles}}</a>
        </div>
        {% endfor %}
    </div>
</div>