{% load static %}
<link rel='stylesheet' href='../../static/styles.css'>
<div class='navbarStyle'>
    <a href='/'><button class='buttonStyle'>Home</button></a>
    <a href='/allgames/'><button class='buttonStyle'>Games</button></a>
    <a href='/allconsoles/'><button class='buttonStyle'>Consoles</button></a>
    <a href='/allfaqs/'><button class='buttonStyle'>FAQs</button></a>
    {% if request.user.is_authenticated %}
    <a href='/useraccount/{{ request.user.id }}/'><button class='buttonStyle'>User Account</button></a>
    <a href="/logout/"><button class='buttonStyle'>Logout</button></a>
    {% else %}
    <a href='/login/'><button class='buttonStyle'>Login</button></a>
    {% endif %}
    <div>
    </div>
</div>
<br>
<br>
<div class='headerInfo'>
    <p>All Faqs</p>
</div>
<div class='contentContainer'>
    {% for item in faqs%}
    <div>
        <p class='listItem'>
            <a href='/faqs/{{item.id}}'>{{item.name}}</a>
            <br>
            Game: <a href='/game/{{item.game.id}}'>{{item.game_name}}</a> for:
            <a href='/platform/{{item.game.platform.id}}'>{{item.game.console_name}}</a>
            <br>
            Written by: <a href = "/useraccount/{{ item.user.id }}">{{item.user}}</a>
        </p>
    </div>
    {% endfor %}
</div>