{% load static %}
<link rel='stylesheet' href='../static/styles.css'>
<div class='navbarStyle'>
    <a href='/'><button class='buttonStyle'>Home</button></a>
    <a href='/allgames/'><button class='buttonStyle'>Games</button></a>
    <a href='/allconsoles/'><button class='buttonStyle'>Consoles</button></a>
    <a href='/allfaqs/'><button class='buttonStyle'>Faqs</button></a>
    <a href='/login/'><button class='buttonStyle'>Login</button></a>
    <a href='/userAccount/'><button class='buttonStyle'>User Account</button></a>
    <div>
    </div>
</div>
<br>
<br>
<div class='headerInfo'>
    <p>All Games</p>
</div>
<div>
    <div class='contentContainer'>

        {% for item in games %}
        <div>
            <p class='listItem'>
                <a href='/game/{{item.id}}'>{{item.name}} </a>
                <br>
                Platform: <a href='/platform/{{item.platform.id}}'>{{item.console_name}}</a>
            </p>
        </div>
        {% endfor %}
    </div>
</div>