<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/static/styles.css'>
    <link rel='stylesheet' href='/static/ans.css'>
</head>
<body>
    <div class="highlight3"></div>
    <div class='navbarStyle'>
        <img src="../../static/img/GF2.png/">
        <div class="withinNavContainer">
        <a href='/'><button class='buttonStyle'>Home</button></a>
        <a href='/allgames/'><button class='buttonStyle'>Games</button></a>
        <a href='/allconsoles/'><button class='buttonStyle'>Consoles</button></a>
        <a href='/allfaqs/'><button class='buttonStyle'>FAQs</button></a>
        {% if request.user.is_authenticated %}
        <a href='/useraccount/{{ request.user.id }}/'><button class='buttonStyle'>User Account</button></a>
        <a href="/logout/"><button class='buttonStyle'>Logout</button></a>
        {% else %}
        <a href='/login/'><button class='buttonStyle'>Login</button></a>
        {% endif %}
    </div>
</div>
<div class="highlight"></div>
<div class="shadow"></div>
<div class="highlight2"></div>
    <br>
    <div class='contentContainer'>
        <!-- question -->
        <div>
            <h3>{{ question.question_title }}</h3>
            <hr>
            <p style="font-size: larger;">{{ question.question_body }}</p>
            <p>Asked by: {{ question.user }}</p>
        </div>
    </div>
    
    <!-- Answer Section -->
    <!-- Anwser Box -->
    <div class='contentContainer'>
        <!-- <div>
            {% for answer in answer_list%}
            {{answer.answer_body}}
            {{answer.}}
            {% endfor %}
        </div> -->

    <form action="" method="post">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
<br>
<br>
    <div class="answerContainer">
        <h3><u>Latest Answers: </u></h3>
        <ol>
        {% for answer in answer_list%}
        <li class="answerItem">
            <p>{{answer.answer_body}}</p>
            <p>Anser By: {{answer.user}}</p>
        </li>
        <hr>
        {% endfor %}
    </ol>
    </div>
    </div>



</body>
</html>