{% load static %}
<link rel='stylesheet' href='../static/styles.css'>
<div class='navbarStyle'>
    <a href='/'><button class='buttonStyle'>Home</button></a>
    <a href='/allgames/'><button class='buttonStyle'>Games</button></a>
    <a href='/allconsoles/'><button class='buttonStyle'>Consoles</button></a>
    <a href='/allfaqs/'><button class='buttonStyle'>Faqs</button></a>
    <a href='/login/'><button class='buttonStyle'>Login</button></a>
    <a href='/userAccount/'><button class='buttonStyle'>User Account</button></a>
    <div>
    </div>
</div>
<br>
<br>
<div>
    <div class='contentContainer'>
        {% for item in data%}
        <div class='faqItem'>
            <h3>{{item.name}}</h3>
            <h4>by {{item.user}}</h4>
            <p>{{item.body}}</p>
        </div>
        {% endfor %}
    </div>
</div>