{% load static %}
<link rel='stylesheet' href='../../static/styles.css'>
<div class='navbarStyle'>
    <a href='/'><button class='buttonStyle'>Home</button></a>
    <a href='/allgames/'><button class='buttonStyle'>Games</button></a>
    <a href='/allconsoles/'><button class='buttonStyle'>Consoles</button></a>
    <a href='/allfaqs/'><button class='buttonStyle'>Faqs</button></a>
    <a href='/login/'><button class='buttonStyle'>Login</button></a>
</div>
<br>
<br>
<div>
    <div class='headerInfo'>
        {{games.name}}
        //
        {{games.release_date}}
    </div>
    <div>
        <div class='headerContent'>
            <div class='headerInfo'>Faqs:</div>
            <a href="/addfaq/{{ games.id }}"><button class='addButton'>Add Faq</button></a>
        </div>
        <div class='contentContainer'>
            {% for item in faqs %}
            <p class='listItem'>
                <a href='/faq/{{item.id}}/'>{{item.name}}</a>
                by <a href=''>{{item.user}}</a>
            </p>
            {% endfor %}
        </div>
        <br>
        <div class='headerContent'>
            <div class='headerInfo'>Messages:</div>
            <a href="/addmessage/{{ games.id }}"><button class='addButton'>Add Message</button></a>
        </div>
        <div class='contentContainer'>
            {% for item in messages %}
            <a href="/message/{{ item.id }}/">
                <p>{{item.title}} by {{item.user}}</p>
            </a>
            <p class='listItem'>
                <a href=''>{{item.title}}</a>
                by <a href=''>{{item.user}}</a></p>
            {% endfor %}
        </div>
    </div>
</div>