{% load static %}
<link rel='stylesheet' href='../../static/styles.css'>
<div class="highlight3"></div>
<div class='navbarStyle'>
    <img src="../../static/img/GF2.png/">
    <div class="withinNavContainer">
    <a href='/'><button class='buttonStyle'>Home</button></a>
    {% if page == 'register' %}
    <a href='/login/'><button class='buttonStyle'>Login</button></a>
    {% elif page == 'login' %}
    <a href='/register/'><button class='buttonStyle'>Register</button></a>
    {% endif %}
    </div>
</div>
<br>
<br>
<div>
    <div class='headerInfo'>
        {% if page == 'register' %}
        <p>Register Here:</p>
        {% elif page == 'login' %}
        <p>Login Here:</p>
        {% endif %} </div>
    <form action="" method="post" class='contentContainer'>
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>