{% load static %}
<link rel='stylesheet' href='static/styles.css'>
<div class='navbarStyle'>
    <a href='/'><button class='buttonStyle'>Home</button></a>
    <a href='/allgames/'><button class='buttonStyle'>Games</button></a>
    <a href='/allconsoles/'><button class='buttonStyle'>Consoles</button></a>
    <a href='/allfaqs/'><button class='buttonStyle'>Faqs</button></a>
    <a href='/login/'><button class='buttonStyle'>Login</button></a>
    <div>
    </div>
</div>
<br>
<br>
<div>
    <div class='headerInfo'>Newest Faqs:</div>
    <div class='contentContainer'>
        {% for item in faqs%}
        <p class='frontlistItem'>
            <a href='/faqs/{{item.id}}'>{{item.name}}</a>
            <br>
            Game: <a href='/game/{{item.game.id}}'>{{item.game_name}}</a> for:
            <a href='/platform/{{item.game.platform.id}}'>{{item.game.console_name}}</a>
            <br>
            Written by: <a href=''>{{item.user}}</a>
        </p>
        {% endfor %}
    </div>
    <br>
    <div class='headerInfo'>Newest Messages:</div>
    <div class='contentContainer'>
        {% for item in messages %}
        <p class='frontlistItem'>
            <a href=''>{{ item.title }}</a>
            <br>
            Game: <a href=''>{{item.game.name}}</a>
            <br>
            written by: <a href=''>{{item.user}}</a>
        </p>
        {% endfor %}
    </div>
</div>
<br>