{% load static %}
<link rel='stylesheet' href='static/styles.css'>
<div class='navbarStyle'>
    <a href='/'><button class='buttonStyle'>Home</button></a>
    <a href='/allgames/'><button class='buttonStyle'>Games</button></a>
    <a href='/allconsoles/'><button class='buttonStyle'>Consoles</button></a>
    <a href='/allfaqs/'><button class='buttonStyle'>Faqs</button></a>
    <a href='/login/'><button class='buttonStyle'>Login</button></a>
    <div>
    </div>
</div>
<br>
<br>
<div>
    <div class='headerInfo'>Newest Faqs</div>
    <div class='contentContainer'>
        {% for item in faqs%}
        <p class='frontlistItem'>
            <a href='/game/{{item.game.id}}'>{{item.game}}</a> for: <a
                href='/platform/{{item.game.platform.id}}'>{{item.game.console_name}}</a>
            <br>
            <a href='/faqs/{{item.id}}'>{{item.name}}</a> written by: <a href=''>{{item.user}}</a>
        </p>
        {% endfor %}
    </div>
    <div class='headerInfo'>Newest Messages:</div>
    <div class='contentContainer'>

    </div>
</div>