<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>User Detail Page</h1>
    {% for use_faq in user_faqs %}
        <p>{{use_faq.name}}</p>
        <p>{{use_faq.user}}</p>
        <p>{{use_faq.game}}</p>
        <p>{{use_faq.body}}</p>
        <Button>Edit</Button>
    {% endfor %}    
</body>
</html>