{% load static %}
<link rel='stylesheet' href='../../static/styles.css'>
<div class="highlight3"></div>
<div class='navbarStyle'>
    <img src="../../static/img/GF2.png/">
    <div class="withinNavContainer">
        <a href='/'><button class='buttonStyle'>Home</button></a>
        <a href='/question/'><button class='buttonStyle'>Questions</button></a>
        <a href='/allgames/'><button class='buttonStyle'>Games</button></a>
        <a href='/allconsoles/'><button class='buttonStyle'>Consoles</button></a>
        <a href='/allfaqs/'><button class='buttonStyle'>FAQs</button></a>
        {% if request.user.is_authenticated %}
        <a href='/edituser/{{ my_user.id}}/'><button class='buttonStyle'>Edit Profile</button></a>
        <a href="/logout/"><button class='buttonStyle'>Logout</button></a>
        {% else %}
        <a href='/login/'><button class='buttonStyle'>Login</button></a>
        {% endif %}
    </div>
</div>
<div class="highlight"></div>
<div class="shadow"></div>
<div class="highlight2"></div>
<br>
<br>
<div class='headerContent'>
    <p class='headerInfo'>User: {{my_user.username}}</p>
</div>
<div class='contentContainer'>
    <div class="faqItem">
        User Details: <br>
        <br>
        <h4>Signature:</h4>
        <div>{{my_user.signature}}</div>
        <br>
        <h4>Website:</h4> <br>
        <a href='{{my_user.website}}'>{{my_user.website}}</a>
        <br>
    </div>
</div>
<div class=' headerInfo'>
    <p>User Faqs:</p>
</div>
<div class='contentContainer'>

    {% for item in user_faqs %}
    <p class="faqItem">
        FAQ: <a href=''>{{item.name}}</a>
        <br>
        Game: <a href=''>{{item.game}}</a>
        <br>
    </p>
    {% endfor %}
</div>

<div class='headerInfo'>
    <p>User Messages:</p>
</div>
<div class='contentContainer'>

    {% for item in user_messages %}
    <p class="faqItem">
        Title: <a href=''>{{item.title}}</a>
        <br>
        Message: <a href=''>{{item.body}}</a>
        <br>
        Game: <a href=''>{{item.game.name}}</a>
        <br>
    </p>
    {% endfor %}
</div>
<br>
<br>