<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel='stylesheet' href='/static/styles.css'>
</head>
<body>
<div class='navbarStyle'>
    <a href='/'><button class='buttonStyle'>Home</button></a>
    <a href='/allgames/'><button class='buttonStyle'>Games</button></a>
    <a href='/allconsoles/'><button class='buttonStyle'>Consoles</button></a>
    <a href='/allfaqs/'><button class='buttonStyle'>Faqs</button></a>
    <a href='/login/'><button class='buttonStyle'>Login</button></a>
    <a href='/userAccount/'><button class='buttonStyle'>User Account</button></a>

</div>
    <h1>User Account Page</h1>
    <span>User Faqs:</span>
    <a href="/edituser/{{ my_user.id }}/">Edit Button</a>  
    <div class="userCard">
    {% for use_faq in user_faqs %}
        <div class="">{{use_faq.user}}</div>
        <br>
        <div>{{use_faq.name}}</div>
        <br>
        <div>{{use_faq.game}}</div>
        <br>
        <div>{{use_faq.body}}</div>
        
    {% endfor %}
</div>
</body>
</html>